<% @products.each do |product| %>
<div class="record float">
<p><img src="<%= product.picture %>" height="220" width="140"></p>
<p>Title: <%= product.book_name %></p>
<p>Author: <%= product.author %></p>
<p>Genre: <%= product.genre %></p>
<p>Details: <%= product.description %></p>
<% @suppliers.each do |supplier| %>
<% if supplier.id == product.supplier_id %>
<p>Supplier: <a href="/suppliers/<%= supplier.id %>"><%= supplier.name %></a></p>
  <% end %>
  <% end %>
<p>Quantity: <%= product.quantity %> <br>
<p class="<%= product.quantity_level[:color] %>"><%= product.quantity_level[:text] %></p>
<p>Wholesale Price: £<%= product.wholesale_price %></p>
<p>Retail Price: £<%= product.retail_price %></p>
<p><a href="/products/<%= product.id %>/edit">Edit Book Details</a></p>
<form method="post" action="/products/<%= product.id %>/delete">
  <input type="submit" value="DELETE" />
</form>
</div>
<% end %>
