<form method="post" action="/products/<%= @product.id %>">

  <label for="book-name">Title:</label>
  <input type="text" name="book_name" id="book-name" value="<%= @product.book_name %>" />

  <label for="author">Author:</label>
  <input type="text" name="author" id="author" value="<%= @product.author %>" />

  <label for="genre">Select a Genre:</label>
  <select class="genre" name="genre">
    <option value="Autobiography" <%= "selected" if @product.genre == "Autobiography" %>>Autobiography</option>
    <option value="Horror" <%= "selected" if @product.genre == "Horror" %>>Horror</option>
    <option value="Popular Psychology" <%= "selected" if @product.genre == "Popular Psychology" %>>Popular Psychology</option>
    <option value="Science Fiction" <%= "selected" if @product.genre == "Science Fiction" %>>Science Fiction</option>
    <option value="Thriller" <%= "selected" if @product.genre == "Thriller" %>>Thriller</option>
  </select>

  <label for="description">Book Details:</label>
  <input type="text" name="description" id="description" value="<%= @product.description %>" />

  <label for="supplier-name">Supplier:</label>
  <select name="supplier_name" id="supplier-name">
    <% for supplier in @suppliers %>
      <option value="<%= supplier.id %>"><%= supplier.name %></option>
    <% end %>
  </select>

  <label for="quantity">Quantity:</label>
  <input type="number" name="quantity" id="quantity" value="<%= @product.quantity %>" />

  <label for="wholesale-price">Wholesale Cost: £</label>
  <input type="text" name="wholesale_price" id="wholesale-price" value="<%= @product.wholesale_price %>" />

  <label for="retail-price">Retail: £</label>
  <input type="text" name="retail_price" id="retail-price" value="<%= @product.retail_price %>" />

  <input type="submit" value="Edit Details">
</form>
