<% @products.each do |product| %>
Title: <%= product.book_name() %><br>
Quantity: <%= product.quantity %> <br>
<p class="<%= product.quantity_level[:color] %>"><%= product.quantity_level[:text] %></p>
<p><a href="/products/<%= product.id %>">Show More Details</a></p>
<hr/>
<% end %>
